global
   log 127.0.0.1 local0
   log 127.0.0.1 local1 notice
   maxconn 4096
   tune.ssl.default-dh-param 2048

defaults
   log global
   mode tcp
   # option httplog
   option dontlognull
   option http-server-close
   option http-pretend-keepalive
   option forwardfor
   option originalto
   retries 3
   option redispatch
   maxconn 2000
   timeout connect 5000
   timeout client 50000
   timeout server 50000
   default-server init-addr last,libc,none

frontend http_front
   bind *:80
   # stats uri /haproxy?stats
   default_backend http_back

frontend https_front
   bind *:443
   default_backend https_back

backend http_back
   balance roundrobin
   server nginx_server_01 nginx01:80 check
   server nginx_server_02 nginx02:80 check

backend https_back
   balance roundrobin
   server nginx_server_01 nginx01:443 check
   server nginx_server_02 nginx02:443 check
